{% extends 'add_edit_form.html' %}

{% block links %}
    <td class="chosen-table-block"><a href="{{ url_for('get_all_orders') }}">Orders</a></td>

{% endblock links %}

{% block content %}
     <tr>
        <td colspan="5" class="edit-form-block">
            <div class="field">
            {{ form.waiter.label(class="labels") }}
            {{ form.waiter() }}

            {% for error in form.waiter.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            <div class="field">
            {{ form.status.label(class="labels") }}
            {{ form.status() }}

            {% for error in form.status.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5" class="edit-form-block">
            <div class="field">
            {{ form.table.label(class="labels") }}
            {{ form.table() }}

            {% for error in form.table.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
            </div>
        </td>
    </tr>


{% endblock content %}